.container-main{
    display: grid;
    grid-template-columns: 80% 20%;
}
.container-main section, .container-main aside, .container-form{
    margin: 15px;
    padding: 25px;
}
.container-backround{
    text-align: center;
}
.container-ie{
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: space-evenly;
}
.container-main button{
    width: 70%;
}
.logo_intecap_51{
    width: 100%;
}
@media(max-width:1280px){
    .container-main{
        grid-template-columns: 100%;
        text-align: center;
    }
    .container-ie{
        grid-template-columns: 100%;
    }
    .logo_intecap_51{
        width: 40%;
    }
}